body{
    width: 1025px;
}

.forca{
    box-sizing: border-box;
    margin-top: 59px;
    margin-left: 38px;
    width: 400px;
    height: 466px;
}

.topo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.botao{
    width: 200px;
    height: 60px;
    background: #27AE60;
    border-radius: 8px;
    margin-top: 89px;
    margin-right: 53px;
    text-size-adjust: 20px;
}

.text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.letraContainer{
    /* background-color: #27AE60; */
    width: 700px;
    height: 110px;
    display: flex;
    justify-content: space-between;
    margin-left: 200px;
    margin-top: 50px;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 5px 5px 5px 5px;
}

.letra{
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin: 3px 3px 3px 3px;
}

.pLetra{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #39739D;
    
}

.palavraSecreta{
    margin-top: 300px;
    display: flex;
    justify-content:center;
    flex-direction: row;
}

.palavraSecretaLetraPorLetra{
    display: flex;
    justify-content:center;
    flex-direction: row;
}

.pLetraLetraPorLetra{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    color:black;
    box-sizing: border-box;
    padding: 5px 5px 5px 5px;
}